<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DOING</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/t/1/css.css">

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/t/1/js.js"></script>
</head>
<body id="body">
<div id="ti">
    <div id="t1"><p id="p1"></p></div>
    <div id="t2"><p>+</p></div>
    <div id="t3"><p id="p2"></p></div>
    <div id="t4"><p>=</p></div>
    <div id="t5"><p></p></div>
</div>
<div id="as">
    <div class="ases" id="a1"><p id="as1"></p></div>
    <div class="ases" id="a2"><p id="as2"></p></div>
    <div class="ases" id="a3"><p id="as3"></p></div>
    <div class="ases" id="a4"><p id="as4"></p></div>
</div>
<div id="countime"></div>
<div id="goback">返回</div>
</body>
</html>